<section class="cart py-8">
    <% if(session.cart) {%>
    <div class="order container mx-auto xl:w-1/2 ">
        <div class=" flex items-center my-6 border-b border-gray-300 mx-auto pb-4">
            <img src="/img/cart-black.png" alt="">
            <h1 class="font-bold ml-4 text-2xl">Order summary </h1>
        </div>
        <div class="pizza-list">
            <%  for(let pizza of Object.values(session.cart.items)) { %>
            <div class="flex items-center my-8">
                <img class="w-24" src="/img/<%= pizza.item.image%>" alt="">
                <div class=" flex-1 ml-4">
                    <h1><%= pizza.item.name%></h1>
                    <span><%= pizza.item.size%></span>
                </div>
                <span class="flex-1"><%= pizza.qty%></span>
                <span class="font-bold text-lg">₹<%= pizza.qty*pizza.item.price %></span>

            </div>
            <% } %>
        </div>
        <hr>
        <div class="text-right py-4">
            <div>
                <span class="text-lg font-bold">
                 Total Amount:
                </span>
                <span class ="amount text-2xl font bold ml-2" >
                 ₹<%=session.cart.totalPrice %>
                </span>
            </div>

            <% if(user){%>
            <div>
                <form action="/orders" method="POST"> 
                    <input name ="address" class =" my-2 border border-gray-400 p-2 w-1/2" type="text" placeholder="Enter address">
                  
                    <input name ="phone" class =" my-2 border border-gray-400 p-2 w-1/2" type="text" placeholder="Enter Phone Number">
                    <div>
                        <button class="btn-primary px-6 py-2 rounded-full font bold  mt-2">Order Now</button>
                    </div>
                    
                </form>
                <!-- <form action="/cleanCart" method="POST">
                <div>
                    <button  class=" inline-block curser-pointer btn-primary px-6 py-2 rounded-full text-white  font bold  mt-2">Clear cart</button>
                </div>
                </form> -->
            </div>
            <% } else {%>
            <a href="/login" class="inline-block curser-pointer btn-primary px-6 py-2 rounded-full text-white  font bold  mt-2"> Login to continue</a>
            
            <% }%>
        </div>
    </div>

    <!-- 
    Empty card ka code hai ye -->
    <% } else {%>
<div class ='empty-cart py-4'>
    <div class="container mx-auto text-center">

        <h1 class ="text-3xl font-bold my-4" >Cart Empty</h1>
        <p class="text-gray-500 text-lg mb-12">You probably haven't ordered a pizza yet.<br>
            To order a pizza ,go to the main page
        </p>
        <img class="w-2/5 my-6 mx-auto" src="/img/empty-cart.png" alt="empty-cart">
        <a
              href="/"
              class=" px-4 py-2 rounded-full  items-center btn-primary  text-white font-bold my-12"
              > Order Now</a>
    </div>
</div>

<% }%>

</section>